.multipleCounterContainer {
  text-align: center;
  background-color: #282c34;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
}

label {
  font-size: 20px;
}

p {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 20px;
}